<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="book flight" parallel="tests" >

	<test name="dukduckgo pass1">
		<parameter name="expectedTestResult" value="java" />
		<classes>
			<class name="com.duckduckgo.tests.SearchTests" />
		</classes>
	</test>
	
	<test name="dukduckgo pass2">
		<parameter name="expectedTestResult" value="javascript" />
		<classes>
			<class name="com.duckduckgo.tests.SearchTests" />
		</classes>
	</test>
	
</suite>
